<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweetfun.mapper.MessageMapper">
    <select id="getLastMessagesWithFriends" resultType="com.sweetfun.domain.Message">
        SELECT t.*
        FROM (
            SELECT *
            FROM message
            WHERE (
                (
                    sender_id = #{userId} AND receiver_id IN
                    <foreach collection="friendIds" item="fid" open="(" separator="," close=")">
                        #{fid}
                    </foreach>
                )
            OR
                (
                    receiver_id = #{userId} AND sender_id IN
                    <foreach collection="friendIds" item="fid" open="(" separator="," close=")">
                        #{fid}
                    </foreach>
                )
            )
            ORDER BY create_time DESC
        ) t
        GROUP BY LEAST(t.sender_id, t.receiver_id), GREATEST(t.sender_id, t.receiver_id)
    </select>
</mapper>